<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/demo_records</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
<!--        <property name="hibernate.connection.datasource">java:comp/env/jdbc/TestDb</property>-->
        <property name="connection.username">akshil</property>
        <property name="connection.password">akshil99</property>

<!--        &lt;!&ndash; SQL Dialect &ndash;&gt;-->
<!--        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>-->


        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping class="com.pe.mosip.bean.Demo_Details"/>
        <mapping class="com.pe.mosip.bean.Compare_Record"/>
    </session-factory>
</hibernate-configuration>